html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 30vh;
}

.input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.player-result,
.computer-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

button{
    border-radius: 8px;
    padding: 8px;
    background-color: whitesmoke;
}

button:hover:enabled{
    color: whitesmoke;
    background-color: black;
}

.rock-btn{
    border: 2px solid #04AA6D;
}

.paper-btn{
    border: 2px solid #008CBA;
}

.scissors-btn{
    border: 2px solid #f44336;
}

.rock-btn:hover:enabled{
    background-color: #04AA6D;
    color: white;
}

.paper-btn:hover:enabled{
    background-color: #008CBA;
    color: white;
}

.scissors-btn:hover:enabled{
    background-color: #f44336;
    color: white;
}

